@charset "utf-8";
/* CSS Document */
body {
	background-color: #fff;
}
.container {
	border: 0px solid #F5F5F5;
	background-color: transparent;
	margin: 0px auto;
}
.header-txt {
     color: #8e8e8e;
    float: left;
    font-family: "proxima-nova",sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 0;
    padding-top: 5px;
    width: auto;
}
.graybg-footer {
	background-color: #808080;
}
.graybg {
	background-color: #4A4A4A;
}
.whiteCol {
	color: #fff;
}
.clearfix {
	clear: both;
	float: none;
}
.clearfixBoth {
 *zoom: 1;
}
.floatL {
	float: left;
}
.clearfixBoth:before, .clearfixBoth:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfixBoth:after {
	clear: both;
}
.text-center {
	text-align: center;
}
.social-icon a {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 0;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
nav[role="main-nav"] {
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
	background:none;
    top: auto !important;
}

}