
.page-content-right{
	width: 48%;
	float: right;
	text-align: center;
	border: 1px solid #0e4f9b;
	padding: 12px;
	margin: 5px;
}

.page-content-left{

	width: 48%;
	float: left;
	text-align: center;
	border: 1px solid #0e4f9b;
	padding: 12px;
	margin: 5px;
}

.page-content-right a:visited{
	outline: 0 !important;
	text-decoration: none;
}
.page-content-right a:hover{
	text-decoration: underline;
	color: #00a950;
}

.page-content-left a:visited{
	outline: 0 !important;
	text-decoration: none;
}
.page-content-left a:hover{
	text-decoration: underline;
	color: #00a950;
}

.expert-div{

	width: 25%;
	float: left;
	padding: 10px;
	text-align: center;
}

.expert-div a{
	text-decoration: none;
}

.expert-div a:hover{
	color: blue;
	text-decoration: none;
}

div#apply-for-grant-wrapper{
	background-color: #1a5c2e;
    height: 218px !important;
    padding-top:0px !important;
    width: 100%;
    clear: both;
    margin-top: 10px;
}

div#apply-for-grant-wrapper .expert-div{
	width: 23%;
	float: left;
	padding: 10px;
	text-align: center;
}

.col-news{
	width:50%;
	float:left;
	margin:0px;
	padding:0px;
}

.col-news .left-news{
	width:40%;
	float:left;
	margin:0px;
	padding:0px;
}

.col-news .right-news{
	width:60%;
	float:right;
	margin: 0px;
	padding:0px;
}

div#social-links a#linkedin {
    background: url(img/buttons/social-linkedin.png) no-repeat;
}

.custom-col{
	width: 20%;
	float: left;
	text-align: left;
}
.custom-col-left{
	width: 20%;
	float: left;
	text-align: left;
	margin-left:5%; 
}
