a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

html {
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background: #fff
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption,
td,
th {
    font-weight: 400;
    text-align: left
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: ""
}

blockquote,
q {
    quotes: "" ""
}

a img {
    border: 0
}

body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both
}

b,
strong {
    font-weight: 700
}

cite,
dfn,
em,
i {
    font-style: italic
}

blockquote {
    margin: 0 1.5em
}

address {
    margin: 0 0 1.5em
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

ins,
mark {
    background: #fff9c0;
    text-decoration: none
}

sub,
sup {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    bottom: 1ex
}

sub {
    top: .5ex
}

small {
    font-size: 75%
}

big {
    font-size: 125%
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em
}

ol,
ul {
    margin: 0 0 1.5em 3em
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li>ol,
li>ul {
    margin-bottom: 0;
    margin-left: 1.5em
}

dt {
    font-weight: 700
}

dd {
    margin: 0 1.5em 1.5em
}

img {
    height: auto;
    max-width: 100%
}

figure {
    margin: 0
}

table {
    margin: 0 0 1.5em;
    width: 100%
}

th {
    font-weight: 700
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

input[type=checkbox],
input[type=radio] {
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=url],
input[type=password],
input[type=search],
input[type=text],
input[type=email],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px
}

input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    color: #111
}

input[type=url],
input[type=password],
input[type=search],
input[type=text],
input[type=email] {
    padding: 3px
}

textarea {
    overflow: auto;
    padding-left: 3px;
    vertical-align: top;
    width: 100%
}

a,
a:visited {
    color: #006c68;
    text-decoration: underline
}

a:active,
a:focus,
a:hover {
    text-decoration: underline;
    color: #00a950
}

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    background-color: #1a5c2e
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0
}

.main-navigation li {
    float: left;
    position: relative
}

.main-navigation a {
    display: block;
    text-decoration: none;
    padding: 10px 28px;
    font-size: 14px;
    color: #FFF
}

.main-navigation ul ul {
    float: left;
    position: absolute;
    top: 1.4em;
    left: -999em;
    z-index: 99999;
    padding-top: 23px
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
    padding-top: 0
}

.main-navigation ul ul a {
    width: 325px;
    color: #FFF;
    font-weight: 400;
    padding: 3px 15px;
    background-color: #0e4f9b;
}

.main-navigation li:hover>a {
    color: #c1d72e
}

.main-navigation ul:hover>a {
    color: #006c68;
    background-color: #c1d72e
}

.main-navigation ul li:hover>ul {
    left: auto
}

.main-navigation ul ul li:hover>ul {
    left: 100%
}

.main-navigation li.current_page_ancestor,
.main-navigation li.current_page_item {
    background: #8bc53f;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8bc53f), color-stop(1, #c1d72e));
    background: -ms-linear-gradient(bottom, #8bc53f, #c1d72e);
    background: -moz-linear-gradient(center bottom, #8bc53f 0, #c1d72e 100%);
    background: -o-linear-gradient(#c1d72e, #8bc53f);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c1d72e', endColorstr='#8bc53f', GradientType=0)
}

.main-navigation ul li a {
    min-height: 48px;
    text-decoration:none !important;
}

.main-navigation ul ul li a {
    min-height: 40px
}

.menu-toggle {
    display: none
}

#mysticky-wrap .wrapfixed {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .75);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .75);
    background-image: url(img/icon.png);
    background-repeat: no-repeat;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
    background-position: 10px 0
}

@media screen and (max-width:1180px) {
    #mysticky-wrap .wrapfixed {
        background-image: none
    }
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%
}

div.secondary-navigation-wrapper {
    background-color: #8bc53f;
    height: 35px
}

div.secondary-navigation {
    width: 966px;
    margin: auto;
    font-weight: 700;
    font-size: 15px
}

div.secondary-navigation li.current_page_item a {
    color: #FFF
}

div.secondary-navigation li,
div.secondary-navigation ul {
    float: left
}

div.secondary-navigation ul {
    margin-top: 4px;
    margin-left: 7px
}

div.secondary-navigation li {
    list-style: none;
    padding-right: 10px;
    line-height: 1em
}

div.secondary-navigation a {
    text-decoration: none;
    padding-right: 20px;
    color: #00a950
}

div.secondary-navigation a:hover {
    color: #FFF
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.screen-reader-text:active,
.screen-reader-text:focus,
.screen-reader-text:hover {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px
}

.alignright {
    display: inline;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto
}

.clear:after,
.clear:before,
.comment-content:after,
.comment-content:before,
.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
    content: '';
    display: table
}

.clear:after,
.comment-content:after,
.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
    clear: both
}

.widget {
    margin: 0 0 1.5em
}

.widget select {
    max-width: 100%
}

.widget_search .search-submit {
    display: none
}

.hentry {
    margin: 0 0 1.5em
}

.byline,
.updated {
    display: none
}

.group-blog .byline,
.single .byline {
    display: inline
}

.entry-content,
.entry-summary,
.page-content {
    margin: 1.5em 0 0
}

.page-links {
    clear: both;
    margin: 0 0 1.5em
}

.archive .format-aside .entry-title,
.blog .format-aside .entry-title {
    display: none
}

.comment-content a {
    word-wrap: break-word
}

.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
    display: none
}

.infinity-end.neverending .site-footer {
    display: block
}

.comment-content img.wp-smiley,
.entry-content img.wp-smiley,
.page-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0
}

embed,
iframe,
object {
    max-width: 100%
}

.wp-caption {
    margin-bottom: 1.5em
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin: 0 auto
}

.wp-caption-text {
    text-align: center
}

.wp-caption .wp-caption-text {
    margin: .8075em 0
}

.gallery {
    margin-bottom: 1.5em
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%
}

.gallery-columns-2 .gallery-item {
    max-width: 50%
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%
}

.gallery-columns-4 .gallery-item {
    max-width: 25%
}

.gallery-columns-5 .gallery-item {
    max-width: 20%
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%
}

div#header-wrapper {
    background: url(img/structure/header-bg-31.png) repeat-x;
    height: 164px;
    width: 100%!important
}

header.site-header {
    width: 1010px;
    margin: auto;
    padding: 3px 0;
}

#social-links {
    margin-top: 20px;
    margin-right: 22px;
    float: right
}

#site-logo {
    float: left;
    margin-left: 22px
}

#header-top-band {
    margin-top: 8px;
    height: 86px
}

#search-form-wrapper {
    margin-top: 20px;
    margin-right: 3px;
    float: right
}

.site-header .search-field {
    background-color: transparent;
    background-image: url(img/buttons/search-icon-2.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 38px 72px;
    border: 1px solid #333;
    cursor: pointer;
    height: 37px;
    margin: 0;
    padding: 0 0 0 38px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition: width 400ms ease, background 400ms ease;
    width: 0
}

.site-header .search-field:hover {
    background-color: #fff;
    cursor: text;
    outline: 0;
    width: 230px;
    margin-right: 2px;
    background-position: 0 0;
    color: #006c68
}

.search-form .search-submit {
    display: none
}

footer.site-footer {
    background-color: #0e4f9b;
    color: #FFF
}

div.site-info {
    padding: 20px 0 10px;
    font-size: 15px;
    width: 1120px;
    margin: auto
}

div.site-info p {
    float: left;
    padding-top: 5px;
    font-size: 15px!important
}

div.site-info li,
div.site-info ul {
    float: left
}

div.site-info ul {
    margin-top: 5px;
    margin-left: 10px
}

div.site-info li {
    list-style: none;
    padding-left: 10px;
    margin-top: 5px;
    border-left: #FFF solid 1px;
    margin-left: 10px;
    line-height: 1em
}

div.site-info a {
    color: #FFF;
    text-decoration: none
}

#site-credit a {
    float: left;
    margin-top: 10px;
    width: auto!important;
    margin-right: 10px;
    font-size: 12px;
    color: #ccc
}

footer #social-links {
    float: right;
    margin-top: -2px;
    margin-right: 5px
}

div#social-links a {
    width: 43px;
    height: 36px;
    display: block;
    float: left;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease
}

div#social-links a#facebook {
    background: url(img/buttons/social-facebook.png) no-repeat
}

div#social-links a#facebook:hover {
    background-position: 0 -36px
}

div#social-links a#linked-in {
    background: url(img/buttons/social-linked-in.png) no-repeat
}

div#social-links a#linked-in:hover {
    background-position: 0 -36px
}

div#social-links a#instagram {
    background: url(img/buttons/social-instagram.png) no-repeat
}

div#social-links a#instagram:hover {
    background-position: 0 -36px
}

div#social-links a#youtube {
    background: url(img/buttons/social-youtube.png) no-repeat
}

div#social-links a#youtube:hover {
    background-position: 0 -36px
}

.scrollToTop {
    width: 46px;
    height: 36px;
    padding: 0;
    text-align: center;
    font-weight: 700;
    color: #444;
    text-decoration: none;
    position: fixed;
    bottom: 12px;
    right: 0;
    display: none;
    background: url(img/buttons/up-arrow.png) no-repeat;
    z-index: 9999;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease
}

.scrollToTop:hover {
    background-position: 0 -36px;
    text-decoration: none
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    outline: 0!important
}

div#footer-site-map {
    overflow: auto;
    margin-top: 50px;
    padding: 30px 0;
    background-color: #1a5c2e;
    line-height: 1em;
    font-size: 15px;
    border-bottom: 3px solid red;
}

div#footer-site-map div.menu-primary-navigation-container {
    max-width: 1220px;
    margin: auto;
    background-color: #000
}

div#footer-site-map li.menu-item-83,
div#footer-site-map li.page-item-79 {
    display: none
}

div#footer-site-map a {
    color: #FFF;
    text-decoration: none;

}

div#footer-site-map ul.sub-menu {
    list-style: none;
    margin: 10px 0 0;
    padding-left: 0;
    clear: both
}

div#footer-site-map li {
    list-style: none;
    max-width: 100%;
    padding-right: 10px;
    padding-bottom: 10px
}
div ul.footer-sub-menu li:before{

     content: '✓';
     color: #FFFFFF;
}

div#footer-site-map li.menu-item-has-children {
    float: left
}

div#footer-site-map ul ul li {
    clear: both
}

div#footer-site-map ul a {
    font-weight:0
}

div#footer-site-map ul ul a {
    font-weight: 400
}

div#footer-site-map ul ul {
    width: 192px
}

div#footer-partners {
    width: 1120px;
    margin: auto
}

div#footer-partners p {
    text-align: center;
    margin-top: 10px;
    color: #00a950;
    font-weight: 700;
    font-size: 20px
}

div#footer-partners p .logo-text {
    padding: 5px 35px 35px;
    margin-top: -70px
}

div#footer-partners img {
    padding: 5px 35px 0
}

div#footer-partners a#birdlife {
    padding-right: 30px
}

div.breadcrumb-wrapper {
    border-bottom: #006c68 dotted 1px
}

div.breadcrumb {
    width: 966px;
    margin: auto;
    padding: 15px 0;
    font-size: 12px;
    font-weight: 300;
    color: #006c68
}

div.breadcrumb a {
    text-decoration: none;
    color: #006c68
}

div.breadcrumb a:hover {
    text-decoration: underline
}

p {
    margin-bottom: 10px
}

h1.entry-title {
    margin-top: 40px;
    font-weight: 700;
    font-size: 22px
}

h2 {
    padding-top: 5px;
    padding-bottom: 30px;
    color: #8bc53f;
    font-size: 24px;
    font-weight: 700
}

h4 {
    text-transform: uppercase;
    color: #8bc53f;
    font-size: 18px;
    font-weight: 700
}

h5 {
    color: #00a950;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px
}

h5 a:link,
h5 a:visited {
    color: #8bc53f;
    text-decoration: none
}

h5 a:link:hover,
h5 a:visited:hover {
    text-decoration: underline;
    color: #c1d72e
}

div.page-wide {
    width: 966px;
    margin: 45px auto auto
}

.page-content {
    width: 966px;
    margin: auto auto 60px
}

@media screen and (max-width:980px) {
    .page-content {
        width: 100%
    }
}

div.section-content-wrapper {
    width: 966px;
    margin: auto
}

.page-left {
    display: block;
    width: 600px;
    margin-right: 58px;
    float: left
}

.page-right {
    display: block;
    max-width: 308px;
    float: left;
    padding-top: 10px
}

@media screen and (max-width:980px) {
    div.section-content-wrapper {
        width: 100%;
        margin: 0 10px
    }
}

div.share-icon-wrapper {
    width: 100%;
    background-color: #e6e6e6;
    padding: 10px;
    margin-top: 50px
}

div.ssba {
    width: 966px;
    margin: auto
}

.esg-grid a:link,
.esg-grid a:visited {
    text-decoration: none;
    color: #FFF!important
}

#section-landing-wrapper {
    display: none
}

#section-landing-wrapper-outer {
    height: 600px;
    margin-bottom: 15px
}

#section-landing-es-grid-holder {
    min-height: 200px
}

div#section-landing-wrapper {
    height: 600px;
    width: 100%;
    background-size: cover
}

div#section-landing-wrapper h1.entry-title {
    padding: 150px 10px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: -10px;
    text-shadow: 2px 2px 2px rgba(2, 2, 2, .25)
}

div#section-landing-wrapper p {
    max-width: 966px;
    margin: auto;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    padding-bottom: 10px;
    text-align: justify;
    text-shadow: 2px 2px 2px rgba(2, 2, 2, .25)
}

div#section-landing-wrapper h1 {
    color: #FFF;
    background: 0 0;
    padding-top: 40px;
    text-align: left;
    width: 966px;
    margin: auto;
    font-size: 44px;
    font-weight: 700
}

body.page-template-page-section-landing-page-php div#footer-site-map {
    margin-top: 15px!important
}

div#page-banner-wrapper {
    height: 164px;
    width: 100%
}

div#page-banner-wrapper h1.entry-title {
    padding: 43px 10px 0 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #FFF;
    width: 966px;
    margin: 0 auto;
    text-shadow: 2px 2px 2px rgba(2, 2, 2, .25)
}

body.home p {
    font-size: 18px
}

body.home h2 {
    padding-top: 60px;
    padding-bottom: 10px;
    color: #00a950;
    font-size: 36px;
    font-weight: 700
}

body.home h4 {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase
}

body.home h4 a {
    text-decoration: none;
    color: #FFF;
    padding: 15px 0;
    height: 60px;
    display: block;
    background: url(img/buttons/home-view-all-projects.png) repeat-x;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease
}

body.home h4 a:hover {
    background-position: 0 -60px;
    color: #006c68
}

body.home #footer-site-map {
    margin-top: 0
}

body.home #newsletter-sign-up {
    margin-bottom: 0;
    padding: 0
}

body.home #newsletter-sign-up p {
    margin: 24px 10px 0 0;
    font-size: 26px;
    font-weight: 700;
    float: left
}

body.home #newsletter-sign-up #newsletter-sign-up-form {
    float: right
}

body.home #newsletter-sign-up #newsletter-sign-up-text {
    float: left
}

body.home #newsletter-sign-up #sign-up-wrapper {
    margin: 25px 0 20px;
    float: right;
    width: 305px
}

body.home #newsletter-sign-up #sign-up-wrapper .email-field {
    width: 243px
}

div#apply-for-grant-wrapper {
    background-color: #1a5c2e;
    height: 121px;
    padding-top: 30px;
    width: 100%;
    clear: both;
    margin-top: 10px
}

div#apply-for-grant-wrapper a {
    margin: auto;
    width: 349px;
    height: 64px;
    display: block;
    background: url(img/buttons/apply-for-grant.png) no-repeat;
    font-size: 22px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    padding-top: 16px;
    padding-left: 30px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease
}

div#apply-for-grant-wrapper a:hover {
    background-position: 0 -64px;
    color: #006c68
}

h3#featured-projects-header {
    color: #c1d72e;
    margin: 50px;
    font-size: 48px;
    text-align: center;
}

div.home-news-item {
    width: 306px;
    float: left;
    margin-right: 24px;
    position: relative
}

div.home-news-item h6 {
    position: absolute;
    z-index: 6;
    top: 208px;
    left: 20px;
    color: #c1d72e;
    text-transform: none;
    font-weight: 700;
    pointer-events: none
}

div.home-news-item img {
    z-index: 5
}

div.home-news-item h4 {
    position: absolute;
    z-index: 10;
    top: 238px;
    padding: 0 20px;
    color: #FFF;
    text-transform: none;
    text-align: left;
    line-height: 25px;
    font-weight: 300;
    pointer-events: none
}

div.home-news-item a {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 387px;
    background: url(img/buttons/home-news-off-2.png) 0 8px repeat-x
}

div.home-news-item a:hover {
    background: url(img/buttons/home-news-on-2.png) 0 8px repeat-x
}

div#home-news-item-3 {
    margin-right: 0
}

button[type=submit] {
    border: 0;
    padding: 0 30px!important;
    height: 40px!important;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: button
}

a.standard-btn,
button[type=submit] {
    text-decoration: none;
    font-weight: 700;
    color: #FFF;
    padding: 15px 50px;
    height: 60px;
    background: url(img/buttons/standard-btn.png) repeat-x;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease
}

a.standard-btn:hover,
button[type=submit]:hover {
    background-position: 0 -60px;
    color: #006c68
}

body.page-template-listing-project-php #form-wrapper {
    display: none
}

div.project-listing-item-wrapper {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px
}

div.project-listing-item-wrapper .taxa-icon {
    margin: 10px 0 5px
}

div.project-listing-item-wrapper h6 {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 24px;
    color: #FFF;
    font-weight: 700
}

div.project-listing-item-wrapper a:link,
div.project-listing-item-wrapper a:visited {
    text-decoration: none;
    color: #FFF!important;
    font-weight: 700
}

div.project-listing-item-wrapper a:link:hover,
div.project-listing-item-wrapper a:visited:hover {
    text-decoration: underline;
    color: #FFF
}

div.project-listing-award-icon-holder {
    float: left;
    width: 77px;
    background-color: #006c68;
    border-right: #FFF 1px solid;
    height: 200px;
    padding-left: 18px;
    padding-top: 10px
}

div.project-listing-taxa-icon-holder {
    float: left;
    width: 89px;
    height: 200px;
    padding-left: 18px;
    padding-top: 10px
}

div.project-listing-copy-holder {
    float: left;
    width: 600px;
    padding: 10px 20px 0;
    color: #FFF;
    min-height: 200px
}

div.project-listing-copy-holder a.read-more:link,
div.project-listing-copy-holder a.read-more:visited {
    text-decoration: none;
    display: block;
    color: #FFF;
    margin-top: 5px;
    font-weight: 700
}

div.project-listing-copy-holder a.read-more:link:hover,
div.project-listing-copy-holder a.read-more:visited:hover {
    text-decoration: underline;
    color: #FFF
}

div.project-listing-image-holder {
    float: right;
    width: 200px
}

div.project-listing-image-holder img {
    float: left;
    width: 200px;
    height: 200px
}

body.page-template-listing-project-map-php div#map-intro {
    background-color: #006c68;
    padding: 30px;
    position: absolute;
    top: 340px;
    width: 300px;
    right: 40px;
    color: #FFF;
    opacity: .9;
    -webkit-box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, .75);
    box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, .75)
}

body.page-template-listing-project-map-php h1 {
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #FFF;
    margin-bottom: 5px;
    line-height: 46px;
    text-shadow: 2px 2px 2px rgba(2, 2, 2, .25)
}

body.page-template-listing-project-map-php h4 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
    font-size: 15px;
    text-shadow: 2px 2px 2px rgba(2, 2, 2, .25)
}

body.page-template-listing-project-map-php div#map_controls {
    padding: 0;
    position: absolute;
    top: 189px;
    left: 50%;
    margin-left: 295px;
    color: #FFF;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease
}

body.page-template-listing-project-map-php div#map_controls button[type=submit] {
    padding: 14px 30px!important;
    height: 49px!important
}

body.page-template-listing-project-map-php div#form-wrapper {
    display: none
}

body.page-template-listing-project-map-php h6 {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 24px;
    color: #FFF;
    font-weight: 700;
    padding: 15px 20px 0;
    text-transform: none
}

body.page-template-listing-project-map-php div.project-listing-copy-holder {
    width: 200px
}

body.page-template-listing-project-map-php div.project-listing-copy-holder h5 {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 14px;
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase
}

body.page-template-listing-project-map-php div.project-listing-copy-holder a:link {
    text-decoration: none
}

body.page-template-listing-project-map-php div.map-listing-image-holder {
    float: right;
    width: 200px;
    padding: 10px 10px 0 0
}

body.page-template-listing-project-map-php div.map-listing-image-holder p {
    color: #FFF;
    text-align: right;
    padding-right: 10px
}

body.page-template-listing-project-map-php div.map-listing-image-holder img {
    float: right;
    padding: 10px
}

body.page-template-listing-project-map-php div.map-listing-image-holder div.icon-holder {
    float: right;
    width: 100%;
    clear: both
}

body.page-template-listing-project-map-php div.map-listing-image-holder div.icon-holder img {
    padding-top: 0
}

body.page-template-listing-project-map-php div.map-listing-image-holder div.icon-holder img.award-icon {
    margin-top: 0;
    padding-right: 0
}

body.page-template-listing-project-map-php #footer-site-map {
    margin-top: 0
}

div.project-listing-taxaAmphibian {
    background-color: #e17f26
}

div.project-listing-taxaBird {
    background-color: #873594
}

div.project-listing-taxaFish {
    background-color: #4295d1
}

div.project-listing-taxaInvertebrate {
    background-color: #c83093
}

div.project-listing-taxaMammal {
    background-color: #fcb426
}

div.project-listing-taxaMultiple {
    background-color: #025687
}

div.project-listing-taxaPlant {
    background-color: #009ca7
}

div.project-listing-taxaReptile {
    background-color: #ac1d37
}

div.wp-pagenavi {
    margin: 10px auto;
    padding: 15px 10px;
    width: 966px;
    background-color: #e6e6e6
}

div.wp-pagenavi span.pages {
    margin-right: 20px;
    margin-left: 15px;
    font-weight: 700
}

div.wp-pagenavi span.extend {
    padding: 0 10px
}

div.wp-pagenavi span.current {
    padding: 0 10px;
    font-weight: 700
}

div.wp-pagenavi a.page {
    padding: 0 10px;
    margin-left: 1px;
    margin-right: 1px
}

div.wp-pagenavi a:link,
div.wp-pagenavi a:visited {
    text-decoration: none;
    font-weight: 700
}

div.wp-pagenavi a.first {
    margin-right: 30px
}

div.wp-pagenavi a.last {
    margin-left: 30px
}

div.wp-pagenavi a.nextpostslink,
div.wp-pagenavi a.previouspostslink {
    padding: 0 10px
}

div#project-header-image {
    height: 164px;
    width: 100%
}

body.single-project .page-right {
    padding-top: 0
}

body.single-project div.secondary-navigation li.menu-item-509 a {
    color: #FFF
}

body.single-project div.menu-primary-navigation-container ul>li#menu-item-98 {
    background: #8bc53f;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8bc53f), color-stop(1, #c1d72e));
    background: -ms-linear-gradient(bottom, #8bc53f, #c1d72e);
    background: -moz-linear-gradient(center bottom, #8bc53f 0, #c1d72e 100%);
    background: -o-linear-gradient(#c1d72e, #8bc53f);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c1d72e', endColorstr='#8bc53f', GradientType=0)
}

body.single-project #footer-site-map {
    margin-top: 0
}

body.single-project a.project-link:link,
body.single-project a.project-link:visited {
    width: 257px;
    height: 69px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: #FFF;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease
}

body.single-project a.project-link:link:hover,
body.single-project a.project-link:visited:hover {
    background-position: 0 -69px
}

body.single-project a.stage-1-previous:link,
body.single-project a.stage-1-previous:visited {
    float: left;
    padding: 21px 0 0 92px;
    margin-right: 10px;
    background: url(img/buttons/previous-project-1.png) repeat-x
}

body.single-project a.stage-2-previous:link,
body.single-project a.stage-2-previous:visited {
    float: left;
    padding: 21px 0 0 92px;
    margin-right: 10px;
    background: url(img/buttons/previous-project-2.png) repeat-x
}

body.single-project a.stage-2-next:link,
body.single-project a.stage-2-next:visited {
    float: left;
    padding: 21px 0 0 92px;
    background: url(img/buttons/next-project-2.png) repeat-x
}

body.single-project a.stage-3-next:link,
body.single-project a.stage-3-next:visited {
    float: left;
    padding: 21px 0 0 82px;
    background: url(img/buttons/next-project-3.png) repeat-x
}

body.single-project a.pdf-link:link,
body.single-project a.pdf-link:visited {
    float: left;
    padding: 0 0 0 30px;
    background: url(img/buttons/pdf-icon.png) no-repeat
}

body.single-project .pdf-link-wrapper {
    margin: 40px 0
}

body.single-project div#project-data {
    padding: 20px;
    color: #666;
    line-height: 2em;
    margin-bottom: 10px
}

body.single-project div#project-data a:link,
body.single-project div#project-data a:visited {
    font-weight: 700;
    text-decoration: none
}

body.single-project p.team-leader {
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 7px;
    font-size: 18px
}

div#map-canvas {
    height: 320px
}

div#map_canvas {
    width: 100%;
    height: 600px
}

div#map-canvas img,
div#map_canvas img {
    max-width: none!important
}

body.page-template-listing-project-awards-provided-php div.stats-table-wrapper {
    margin-top: -10px
}

body.page-template-listing-project-awards-provided-php div.stats-table {
    float: left;
    width: 50%
}

body.page-template-listing-project-awards-provided-php table {
    width: 100%;
    margin-top: 40px
}

body.page-template-listing-project-awards-provided-php table img {
    vertical-align: middle;
    padding-right: 10px
}

body.page-template-listing-project-awards-provided-php .stats-table-left {
    padding-right: 27px
}

body.page-template-listing-project-awards-provided-php .stats-table-right {
    padding-left: 27px
}

body.page-template-listing-project-awards-provided-php th {
    background-color: #006c68;
    padding: 17px 10px;
    color: #FFF
}

body.page-template-listing-project-awards-provided-php td {
    padding: 10px;
    border-top: 1px solid #ddd;
    font-size: 14px
}

body.page-template-listing-project-awards-provided-php tr.even {
    background-color: #F2F2F2
}

body.page-template-listing-project-awards-provided-php tr.odd {
    background-color: #e6e6e6
}

body.page-template-listing-project-awards-provided-php td.stats-figure {
    text-align: right
}

body.page-template-listing-project-awards-provided-php table#grants-by-taxa td {
    padding: 14px 10px
}

body.page-template-listing-project-awards-provided-php table#grants-by-region td {
    padding: 23px 10px
}

body.page-template-listing-project-links-php h3 a:link,
body.page-template-listing-project-links-php h3 a:visited {
    text-decoration: none;
    font-weight: 700
}

div.partner-wrapper {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 10px
}

div.partner-photo {
    float: left;
    width: 25%
}

div.partner-photo img {
    margin: auto;
    display: block
}

div.partner-description {
    float: left;
    width: 75%;
    padding-left: 20px
}

div.partner-description p {
    font-size: 14px;
    margin-bottom: 0;
    color: #006c68
}

div.partner-description a:link,
div.partner-description a:visited {
    font-weight: 700;
    color: #006c68;
    text-decoration: none
}

div.partner-description a:link:hover,
div.partner-description a:visited:hover {
    text-decoration: underline
}

div.team-member-wrapper {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 10px
}

div.team-member-photo {
    float: left;
    width: 15%
}

div.team-member-description {
    float: left;
    width: 85%;
    padding-left: 20px
}

div.team-member-description p {
    font-size: 14px;
    margin-bottom: 0;
    color: #006c68
}

div.team-member-description p.job-title {
    color: #00a950;
    font-weight: 700
}

div.team-member-description p.organisation-name {
    color: #006c68;
    font-weight: 700;
    margin-bottom: 10px
}

body.page page-id-19 div.page-wide img {
    margin-bottom: 10px
}

body.page-id-35 h2 {
    padding-top: 30px
}

div.clp-accordion {
    background-color: #F9F9F9!important
}

div.clp-accordion .ui-widget-content {
    background: 0 0!important
}

div.clp-accordion h3 {
    background-color: #f2f2f2;
    background-image: none!important;
    color: #00a950
}

div.clp-accordion h3:hover {
    color: #8bc53f
}

div.clp-accordion h3.ui-state-active {
    background-color: #8bc53f;
    background-image: none!important;
    color: #FFF;
    border-radius: none
}

div.clp-accordion .ui-corner-all,
div.clp-accordion .ui-corner-right,
div.clp-accordion .ui-corner-top,
div.clp-accordion .ui-corner-tr {
    border-top-right-radius: none!important
}

div.clp-accordion .ui-state-default,
div.clp-accordion .ui-widget-content,
div.clp-accordion .ui-widget-content .ui-state-default,
div.clp-accordion .ui-widget-header .ui-state-default {
    border: none
}

div.clp-accordion div {
    font-size: 14px
}

div.secondary-navigation-wrapper li.current-page-ancestor a {
    color: #FFF
}

body.page-id-27 #future-link,
body.page-id-29 #follow-up-link,
body.page-id-31 #leadership-link,
body.page-id-33 #kate-link {
    background-position: 0 -155px!important
}

body.page-template-page-grants-grant-overview-php div#grant-banner-button-wrapper-mobile {
    display: none
}

body.page-template-page-grants-grant-overview-php .grant-banner-button {
    float: right;
    width: 312px;
    margin-top: 46px
}

body.page-template-page-grants-grant-overview-php .grant-banner-button a {
    width: 306px;
    height: 64px;
    display: block;
    margin-bottom: 1px;
    padding: 22px 0 0 26px;
    font-size: 21px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    background: url(img/buttons/grants-section/apply-for-grant-banner.png) no-repeat
}

body.page-template-page-grants-grant-overview-php .grant-banner-button a:hover {
    background-position: 0 -64px;
    color: #006c68
}

body.page-template-page-grants-grant-overview-php div#page-banner-wrapper .grant-banner-wrapper {
    width: 966px;
    margin: auto
}

body.page-template-page-grants-grant-overview-php div#page-banner-wrapper .grant-banner-wrapper h1.entry-title {
    font-size: 34px;
    margin-top: 10px
}

body.page-template-page-grants-grant-overview-php div#page-banner-wrapper .grant-banner-wrapper .grant-banner-heading {
    float: left;
    width: 580px
}

body.page-template-page-grants-grant-overview-php .page-right #grant-nav-header {
    background: url(img/buttons/grants-section/award-stages-grey-hairline.png) no-repeat;
    width: 306px;
    height: 60px
}

body.page-template-page-grants-grant-overview-php .page-right #grant-nav-header p {
    float: left;
    text-transform: uppercase;
    color: #999;
    padding: 13px 15px;
    font-weight: 700
}

body.page-template-page-grants-grant-overview-php .page-right #grant-nav-kate-header {
    background: url(img/buttons/grants-section/award-stages-greybox.png) no-repeat;
    width: 306px;
    height: 60px
}

body.page-template-page-grants-grant-overview-php .page-right #grant-nav-kate-header p {
    text-transform: uppercase;
    color: #999;
    padding: 13px 15px;
    font-weight: 700
}

body.page-template-page-grants-grant-overview-php .page-right a {
    width: 306px;
    height: 77px;
    display: block;
    margin-bottom: 1px;
    padding: 14px 0 0 92px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
    text-decoration: none
}

body.page-template-page-grants-grant-overview-php .page-right #future-link {
    background: url(img/buttons/grants-section/stage1-hairline.png) no-repeat
}

body.page-template-page-grants-grant-overview-php .page-right #future-link:hover {
    background-position: 0 -78px
}

body.page-template-page-grants-grant-overview-php .page-right #follow-up-link {
    background: url(img/buttons/grants-section/stage2-hairline.png) no-repeat
}

body.page-template-page-grants-grant-overview-php .page-right #follow-up-link:hover {
    background-position: 0 -78px
}

body.page-template-page-grants-grant-overview-php .page-right #leadership-link {
    background: url(img/buttons/grants-section/stage3-hairline.png) no-repeat;
    margin-bottom: 10px
}

body.page-template-page-grants-grant-overview-php .page-right #leadership-link:hover {
    background-position: 0 -78px
}

body.page-template-page-grants-grant-overview-php .page-right #kate-link {
    background: url(img/buttons/grants-section/katestokes-hairline.png) no-repeat
}

body.page-template-page-grants-grant-overview-php .page-right #kate-link:hover {
    background-position: 0 -78px
}

body.page-id-25 div#page-banner-wrapper .grant-banner-wrapper h1.entry-title {
    font-size: 40px;
    margin-top: 0
}

body.page-id-33 .grant-banner-button {
    display: none
}

.tablepress-id-1 tr:hover {
    cursor: pointer
}

table.tablepress-id-1 tr:hover td {
    background-color: #8bc53f!important;
    color: #FFF
}

table.tablepress-id-1 tr:hover td a:hover,
table.tablepress-id-1 tr:hover td a:link,
table.tablepress-id-1 tr:hover td a:visited {
    color: #FFF
}

table.tablepress td.column-1 {
    font-weight: 700;
    min-width: 200px
}

table.tablepress td.column-3 {
    text-align: right
}

.third-level-menu li,
.third-level-menu ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.third-level-menu #menu-header {
    background-color: #e6e6e6;
    width: 306px;
    height: 60px;
    margin-bottom: 10px
}

.third-level-menu #menu-header p {
    text-transform: uppercase;
    color: #999;
    padding: 18px 15px 13px;
    font-weight: 700
}

.third-level-menu a {
    width: 306px;
    height: 60px;
    display: block;
    margin-bottom: 1px;
    padding: 24px 0 0 16px;
    color: #FFF;
    font-weight: 500;
    line-height: 1em;
    text-decoration: none;
    background: url(img/buttons/standard-btn.png)
}

.third-level-menu a:hover {
    background-position: 0 -60px;
    color: #006c68
}

.third-level-menu li.current_page_item a {
    background-position: 0 -1200px
}

.page-half-col {
    width: 50%;
    float: left
}

.page-half-col li,
.page-half-col ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.page-half-col h4 {
    margin-top: 20px;
    font-size: 16px
}

.page-half-col li {
    margin-bottom: 10px;
    font-size: 14px
}

.page-half-col a {
    text-decoration: none
}

.half-col-right {
    padding-left: 20px
}

.half-col-left {
    padding-right: 20px
}

body.single-case-study div#page-banner-wrapper {
    background: url(img/cpt-single-headers/header-case-study-single.jpg) center center;
    background-size: cover
}

body.single-case-study .page-right img {
    margin-top: 10px
}

body.single-case-study .main-navigation li.menu-item-106>a {
    background: #8bc53f;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8bc53f), color-stop(1, #c1d72e));
    background: -ms-linear-gradient(bottom, #8bc53f, #c1d72e);
    background: -moz-linear-gradient(center bottom, #8bc53f 0, #c1d72e 100%);
    background: -o-linear-gradient(#c1d72e, #8bc53f);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c1d72e', endColorstr='#8bc53f', GradientType=0)
}

body.single-case-study div.secondary-navigation li.menu-item-694 a {
    color: #FFF
}

body.single-case-study .third-level-menu li.menu-item-685 a {
    background-position: 0 -120px
}

body.single-case-study .third-level-menu li.menu-item-685 a:hover {
    color: #006c68
}

body.single-case-study h1.entry-title {
    margin-top: 0;
    color: #006c68
}

body.single-case-study h6 {
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 3px;
    font-size: 14px;
    color: #006c68;
    margin-bottom: 13px
}

body.single-interview div#page-banner-wrapper {
    background: url(img/cpt-single-headers/header-interview-single-item.jpg) center center;
    background-size: cover
}

body.single-interview .main-navigation li.menu-item-106>a {
    background: #8bc53f;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8bc53f), color-stop(1, #c1d72e));
    background: -ms-linear-gradient(bottom, #8bc53f, #c1d72e);
    background: -moz-linear-gradient(center bottom, #8bc53f 0, #c1d72e 100%);
    background: -o-linear-gradient(#c1d72e, #8bc53f);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c1d72e', endColorstr='#8bc53f', GradientType=0)
}

body.single-interview div.secondary-navigation li.menu-item-694 a {
    color: #FFF
}

body.single-interview .third-level-menu li.menu-item-686 a {
    background-position: 0 -120px
}

body.single-interview .third-level-menu li.menu-item-686 a:hover {
    color: #006c68
}

body.single-interview .interview-quote {
    padding: 55px 20px 20px;
    margin: 10px 0
}

body.single-interview .page-right img {
    margin-bottom: 30px
}

body.single-interview h1.entry-title {
    margin-top: 0;
    color: #006c68
}

a.pdflink {
    background: url(img/pdf.png) 0 3px no-repeat;
    padding-left: 25px;
    margin-left: 0;
    display: block
}

div#project-header-image h4 {
    color: #FFF;
    background: 0 0;
    padding-top: 40px;
    text-align: left;
    width: 966px;
    margin: auto;
    font-size: 44px;
    font-weight: 700
}

h6 {
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 3px;
    font-size: 14px;
    color: #006c68;
    margin-bottom: 13px
}

div.award-iconography {
    width: 308px;
    height: 79px;
    margin-top: 45px;
    padding: 14px 0 0 72px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em
}

div.grant-stage-1 {
    background: url(img/iconography/grant-stage-1.png) no-repeat
}

div.grant-stage-2 {
    background: url(img/iconography/grant-stage-2.png) no-repeat
}

div.grant-stage-3 {
    background: url(img/iconography/grant-stage-3.png) no-repeat
}

div.grant-kates-stokes {
    background: url(img/iconography/grant-kates-stokes.png) no-repeat
}

div.grant-internship {
    background: url(img/iconography/grant-internship.png) no-repeat
}

div.grant-research {
    background: url(img/iconography/grant-research.png) no-repeat
}

div#taxa-icon {
    width: 308px;
    height: 60px;
    margin: 10px 0;
    padding: 23px 0 0 72px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em
}

div.taxaAmphibian h1.entry-title,
div.taxaAmphibian h5,
div.taxaAmphibian h6 {
    color: #e17f26
}

div.taxaAmphibian div#taxa-icon {
    background-image: url(img/iconography/amphibian.png)
}

div.taxaAmphibian .interview-quote {
    background: url(img/iconography/quotes/interview-quote-amphibian.png) 15px 10px no-repeat #f8dfc7
}

div.taxaAmphibian div#project-header-image {
    background: url(img/project-headers/amphibian.jpg) center center;
    background-size: cover
}

div.taxaAmphibian div#project-data {
    background-color: #f8dfc7
}

div.taxaAmphibian div#project-data a:link,
div.taxaAmphibian div#project-data a:visited {
    color: #e17f26
}

div.taxaAmphibian div#project-data a:link:hover,
div.taxaAmphibian div#project-data a:visited:hover {
    color: #ed9534
}

div.taxaAmphibian a.pdf-link:link,
div.taxaAmphibian a.pdf:visited {
    color: #e17f26;
    font-weight: 700
}

div.taxaAmphibian a.pdf-link:link:hover,
div.taxaAmphibian a.pdf:visited:hover {
    color: #ed9534
}

div.taxaBird h1.entry-title,
div.taxaBird h5,
div.taxaBird h6 {
    color: #873594
}

div.taxaBird .interview-quote {
    background: url(img/iconography/quotes/interview-quote-bird.png) 15px 10px no-repeat #f4d7f9
}

div.taxaBird div#taxa-icon {
    background-image: url(img/iconography/bird.png)
}

div.taxaBird div#project-header-image {
    background: url(img/project-headers/bird.jpg) center center;
    background-size: cover
}

div.taxaBird div#project-data {
    background-color: #f4d7f9
}

div.taxaBird div#project-data a:link,
div.taxaBird div#project-data a:visited {
    color: #873594
}

div.taxaBird div#project-data a:link:hover,
div.taxaBird div#project-data a:visited:hover {
    color: #a15cad
}

div.taxaBird a.pdf-link:link,
div.taxaBird a.pdf:visited {
    color: #873594;
    font-weight: 700
}

div.taxaBird a.pdf-link:link:hover,
div.taxaBird a.pdf:visited:hover {
    color: #a15cad
}

div.taxaFish h1.entry-title,
div.taxaFish h5,
div.taxaFish h6 {
    color: #4295d1
}

div.taxaFish .interview-quote {
    background: url(img/iconography/quotes/interview-quote-fish.png) 15px 10px no-repeat #dce8f6
}

div.taxaFish div#taxa-icon {
    background-image: url(img/iconography/fish.png)
}

div.taxaFish div#project-header-image {
    background: url(img/project-headers/fish.jpg) center center;
    background-size: cover
}

div.taxaFish div#project-data {
    background-color: #dce8f6
}

div.taxaFish div#project-data a:link,
div.taxaFish div#project-data a:visited {
    color: #4295d1
}

div.taxaFish div#project-data a:link:hover,
div.taxaFish div#project-data a:visited:hover {
    color: #70aae2
}

div.taxaFish a.pdf-link:link,
div.taxaFish a.pdf:visited {
    color: #4295d1;
    font-weight: 700
}

div.taxaFish a.pdf-link:link:hover,
div.taxaFish a.pdf:visited:hover {
    color: #70aae2
}

div.taxaInvertebrate h1.entry-title,
div.taxaInvertebrate h5,
div.taxaInvertebrate h6 {
    color: #c83093
}

div.taxaInvertebrate .interview-quote {
    background: url(img/iconography/quotes/interview-quote-invertebrate.png) 15px 10px no-repeat #f9c5e7
}

div.taxaInvertebrate div#taxa-icon {
    background-image: url(img/iconography/invertebrate.png)
}

div.taxaInvertebrate div#project-header-image {
    background: url(img/project-headers/invertebrate.jpg) center center;
    background-size: cover
}

div.taxaInvertebrate div#project-data {
    background-color: #f9c5e7
}

div.taxaInvertebrate div#project-data a:link,
div.taxaInvertebrate div#project-data a:visited {
    color: #c83093
}

div.taxaInvertebrate div#project-data a:link:hover,
div.taxaInvertebrate div#project-data a:visited:hover {
    color: #d960ac
}

div.taxaInvertebrate a.pdf-link:link,
div.taxaInvertebrate a.pdf:visited {
    color: #c83093;
    font-weight: 700
}

div.taxaInvertebrate a.pdf-link:link:hover,
div.taxaInvertebrate a.pdf:visited:hover {
    color: #d960ac
}

div.taxaMammal h1.entry-title,
div.taxaMammal h5,
div.taxaMammal h6 {
    color: #fcb426
}

div.taxaMammal .interview-quote {
    background: url(img/iconography/quotes/interview-quote-mammal.png) 15px 10px no-repeat #fae4b7
}

div.taxaMammal div#taxa-icon {
    background-image: url(img/iconography/mammal.png)
}

div.taxaMammal div#project-header-image {
    background: url(img/project-headers/mammal.jpg) center center;
    background-size: cover
}

div.taxaMammal div#project-data {
    background-color: #fae4b7
}

div.taxaMammal div#project-data a:link,
div.taxaMammal div#project-data a:visited {
    color: #fcb426
}

div.taxaMammal div#project-data a:link:hover,
div.taxaMammal div#project-data a:visited:hover {
    color: #ffc555
}

div.taxaMammal a.pdf-link:link,
div.taxaMammal a.pdf:visited {
    color: #fcb426;
    font-weight: 700
}

div.taxaMammal a.pdf-link:link:hover,
div.taxaMammal a.pdf:visited:hover {
    color: #ffc555
}

div.taxaMultiple h1.entry-title,
div.taxaMultiple h5,
div.taxaMultiple h6 {
    color: #025687
}

div.taxaMultiple .interview-quote {
    background: url(img/iconography/quotes/interview-quote-multiple.png) 15px 10px no-repeat #a3d7f5
}

div.taxaMultiple div#taxa-icon {
    background-image: url(img/iconography/multi.png)
}

div.taxaMultiple div#project-header-image {
    background: url(img/project-headers/multiple.jpg) center center;
    background-size: cover
}

div.taxaMultiple div#project-data {
    background-color: #a3d7f5
}

div.taxaMultiple div#project-data a:link,
div.taxaMultiple div#project-data a:visited {
    color: #025687
}

div.taxaMultiple div#project-data a:link:hover,
div.taxaMultiple div#project-data a:visited:hover {
    color: #44739e
}

div.taxaMultiple a.pdf-link:link,
div.taxaMultiple a.pdf:visited {
    color: #025687;
    font-weight: 700
}

div.taxaMultiple a.pdf-link:link:hover,
div.taxaMultiple a.pdf:visited:hover {
    color: #44739e
}

div.taxaPlant h1.entry-title,
div.taxaPlant h5,
div.taxaPlant h6 {
    color: #009ca7
}

div.taxaPlant .interview-quote {
    background: url(img/iconography/quotes/interview-quote-plant.png) 15px 10px no-repeat #adeef3
}

div.taxaPlant div#taxa-icon {
    background-image: url(img/iconography/plant.png)
}

div.taxaPlant div#project-header-image {
    background: url(img/project-headers/plant.jpg) center center;
    background-size: cover
}

div.taxaPlant div#project-data {
    background-color: #adeef3
}

div.taxaPlant div#project-data a:link,
div.taxaPlant div#project-data a:visited {
    color: #009ca7
}

div.taxaPlant div#project-data a:link:hover,
div.taxaPlant div#project-data a:visited:hover {
    color: #00aeb8
}

div.taxaPlant a.pdf-link:link,
div.taxaPlant a.pdf:visited {
    color: #009ca7;
    font-weight: 700
}

div.taxaPlant a.pdf-link:link:hover,
div.taxaPlant a.pdf:visited:hover {
    color: #00aeb8
}

div.taxaReptile h1.entry-title,
div.taxaReptile h5,
div.taxaReptile h6 {
    color: #ac1d37
}

div.taxaReptile .interview-quote {
    background: url(img/iconography/quotes/interview-quote-reptile.png) 15px 10px no-repeat #f1cdcd
}

div.taxaReptile div#taxa-icon {
    background-image: url(img/iconography/reptile.png)
}

div.taxaReptile div#project-header-image {
    background: url(img/project-headers/reptile.jpg) center center;
    background-size: cover
}

div.taxaReptile div#project-data {
    background-color: #f1cdcd
}

div.taxaReptile div#project-data a:link,
div.taxaReptile div#project-data a:visited {
    color: #ac1d37
}

div.taxaReptile div#project-data a:link:hover,
div.taxaReptile div#project-data a:visited:hover {
    color: #c24955
}

div.taxaReptile a.pdf-link:link,
div.taxaReptile a.pdf:visited {
    color: #ac1d37;
    font-weight: 700
}

div.taxaReptile a.pdf-link:link:hover,
div.taxaReptile a.pdf:visited:hover {
    color: #c24955
}

body.single-interview div.award-iconography {
    margin-top: 10px
}

body.page-template-listing-interview-php .name-date {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: -5px
}

body.page-template-listing-interview-php div.project-listing-award-icon-holder {
    display: none
}

body.page-template-listing-interview-php .tablet-icons {
    margin-top: -10px;
    display: block
}

body.page-template-listing-interview-php .tablet-icons .taxa-icon {
    padding-left: 15px
}

body.page-template-listing-interview-php .tablet-icons .award-icon {
    margin-top: 15px
}

body.page-template-listing-interview-php div.project-listing-copy-holder {
    float: left;
    width: 80%
}

body.page-template-listing-interview-php div.project-listing-taxa-icon-holder {
    display: none
}

body.page-template-listing-interview-php div.project-listing-image-holder {
    float: right;
    width: 20%
}

body.page-template-listing-interview-php div.project-listing-image-holder img {
    float: right;
    width: auto;
    height: auto;
    padding-top: 28px;
    padding-right: 20px
}

body.page-template-listing-interview-php div.wp-pagenavi {
    width: 100%
}

body.page-template-listing-interview-php .wp-pagenavi a.page,
body.page-template-listing-interview-php a.last,
body.page-template-listing-interview-php span.extend {
    display: none
}

body.page-template-listing-video-php .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

body.page-template-listing-video-php .video-container embed,
body.page-template-listing-video-php .video-container iframe,
body.page-template-listing-video-php .video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

body.page-template-listing-annual-report-php div.item-wrapper,
body.page-template-listing-fact-sheet-php div.item-wrapper {
    margin-bottom: 40px
}

body.page-template-listing-annual-report-php div.image-holder,
body.page-template-listing-fact-sheet-php div.image-holder {
    float: left;
    width: 20%
}

body.page-template-listing-annual-report-php div.content-holder,
body.page-template-listing-fact-sheet-php div.content-holder {
    float: left;
    width: 80%;
    padding-left: 20px
}

.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    display: block;
    max-width: 96%;
    padding: 3px;
    position: relative;
    text-align: center
}

.wp-caption-text {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    color: #FFF;
    display: block;
    filter: alpha(opacity=0);
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    left: 8px;
    margin: 0;
    max-width: 100%;
    opacity: 0;
    padding: 5px 10px!important;
    position: absolute;
    right: 8px
}

.wp-caption img:hover~.wp-caption-text {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out
}

body.archive .listing-item-wrapper,
body.page-template-listing-blog-php .listing-item-wrapper,
body.page-template-listing-news-php .listing-item-wrapper {
    border-top: #006c68 dotted 1px;
    margin-top: 20px;
    padding-top: 15px
}

body.archive h2 a:link,
body.archive h2 a:visited,
body.archive p.read-more a:link,
body.archive p.read-more a:visited,
body.page-template-listing-blog-php h2 a:link,
body.page-template-listing-blog-php h2 a:visited,
body.page-template-listing-blog-php p.read-more a:link,
body.page-template-listing-blog-php p.read-more a:visited,
body.page-template-listing-news-php h2 a:link,
body.page-template-listing-news-php h2 a:visited,
body.page-template-listing-news-php p.read-more a:link,
body.page-template-listing-news-php p.read-more a:visited {
    text-decoration: none
}

body.archive h2,
body.page-template-listing-blog-php h2,
body.page-template-listing-news-php h2 {
    padding-bottom: 0;
    line-height: 26px;
    font-weight: 700
}

body.archive h6,
body.page-template-listing-blog-php h6,
body.page-template-listing-news-php h6 {
    padding-top: 10px;
    color: #8bc53f;
    font-weight: 500
}

body.archive .read-more,
body.page-template-listing-blog-php .read-more,
body.page-template-listing-news-php .read-more {
    font-weight: 500;
    font-style: italic;
    margin-top: 15px
}

.widget-area h1 {
    text-transform: uppercase;
    color: #8bc53f;
    font-size: 18px;
    font-weight: 700
}

.widget-area ul {
    margin: 0
}

.widget-area li {
    list-style: none;
    margin: 0 0 10px;
    padding: 0
}

.widget-area a {
    text-decoration: none
}

body.archive h1.page-title {
    text-transform: uppercase;
    color: #8bc53f;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px
}

body.archive h1.entry-title,
body.single-post h1.entry-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #006c68;
    padding-bottom: 0;
    line-height: 26px;
    font-weight: 700
}

body.archive .entry-header,
body.single-post .entry-header {
    font-weight: 500;
    color: #8bc53f
}

body.archive .entry-header a:link,
body.archive .entry-header a:visited,
body.single-post .entry-header a:link,
body.single-post .entry-header a:visited {
    color: #8bc53f
}

body.archive .entry-header a:link:hover,
body.archive .entry-header a:visited:hover,
body.single-post .entry-header a:link:hover,
body.single-post .entry-header a:visited:hover {
    color: #c1d72e
}

body.archive .entry-header h1.entry-title a:link,
body.archive .entry-header h1.entry-title a:visited,
body.single-post .entry-header h1.entry-title a:link,
body.single-post .entry-header h1.entry-title a:visited {
    color: #006c68;
    text-decoration: none
}

body.archive div.menu-primary-navigation-container ul>li#menu-item-111,
body.single-post div.menu-primary-navigation-container ul>li#menu-item-111 {
    background: #8bc53f;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8bc53f), color-stop(1, #c1d72e));
    background: -ms-linear-gradient(bottom, #8bc53f, #c1d72e);
    background: -moz-linear-gradient(center bottom, #8bc53f 0, #c1d72e 100%);
    background: -o-linear-gradient(#c1d72e, #8bc53f);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c1d72e', endColorstr='#8bc53f', GradientType=0)
}

body.archive div.secondary-navigation li.menu-item-675 a,
body.single-post div.secondary-navigation li.menu-item-675 a {
    color: #FFF
}

body.archive div#page-banner-wrapper,
body.single-post div#page-banner-wrapper {
    background: url(img/cpt-single-headers/header-blog-single.jpg) center center;
    background-size: cover
}

#cff .cff-item {
    padding: 5px 0
}

#cff {
    border: 1px solid #e6e6e6
}

h4#fb-header {
    padding: 12px 10px 10px 50px;
    background: url(img/buttons/facebook-band.png) no-repeat #3a5a98;
    color: #FFF;
    text-transform: none
}

h4#twitter-header {
    padding: 12px 10px 10px 50px;
    background: url(img/buttons/twitter-band.png) no-repeat #29a7df;
    color: #FFF;
    text-transform: none;
    margin-top: 10px
}

.twitter-box {
    margin-bottom: 20px
}

#newsletter-sign-up {
    color: #FFF;
    background-color: #0e4f9b;
    padding: 10px 15px 17px;
    margin-bottom: 10px
}

#newsletter-sign-up h4 {
    color: #FFF
}

#sign-up-wrapper {
    background: #FFF;
    width: 277px;
    margin: 10px 0 0;
    clear: both;
    height: 44px;
    padding-top: 0
}

.email-submit {
    background: url(img/buttons/newsletter-signup.png) no-repeat #fff;
    border: none!important;
    border: 0;
    width: 45px;
    height: 44px;
    cursor: pointer;
    margin: 0 0 0 5px;
    padding: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease
}

.email-submit:hover {
    background: url(img/buttons/newsletter-signup.png) 0 -44px no-repeat #fff
}

#sign-up-wrapper .email-field {
    background: 0 0;
    border: 0;
    width: 215px;
    height: 44px;
    float: left;
    margin-right: 2px;
    margin-left: 10px;
    color: #79848b;
    font-size: 15px
}

body.single-news h2 {
    padding-bottom: 0;
    line-height: 26px;
    color: #006c68
}

body.single-news h6 {
    padding-top: 10px;
    color: #8bc53f;
    font-weight: 700
}

body.single-news div.menu-primary-navigation-container ul>li#menu-item-111 {
    background: #8bc53f;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8bc53f), color-stop(1, #c1d72e));
    background: -ms-linear-gradient(bottom, #8bc53f, #c1d72e);
    background: -moz-linear-gradient(center bottom, #8bc53f 0, #c1d72e 100%);
    background: -o-linear-gradient(#c1d72e, #8bc53f);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c1d72e', endColorstr='#8bc53f', GradientType=0)
}

body.single-news div.secondary-navigation li.menu-item-676 a {
    color: #FFF
}

body.single-news div#page-banner-wrapper {
    background: url(img/cpt-single-headers/header-news-single.jpg) center center;
    background-size: cover
}

.control-label {
    width: 120px;
    display: block;
    float: left;
    color: #00a950;
    font-weight: 500
}

.form-column-left {
    width: 50%;
    float: left
}

.form-column-right {
    width: 50%;
    float: right;
    padding-left: 53px
}

.field-divider {
    height: 10px
}

body.search div#page-banner-wrapper {
    background: url(img/cpt-single-headers/header-general.jpg) center center;
    background-size: cover
}

body.search h2 {
    padding-bottom: 0
}

body.error404 div#page-banner-wrapper {
    background: url(img/cpt-single-headers/header-404.jpg) center center;
    background-size: cover
}

body.error404 h2 {
    padding-bottom: 0
}

#menufication-non-css3-top #menufication-non-css3-btn::before,
#menufication-top #menufication-btn::before {
    padding-top: 4px
}

#ddList-fruitList1>a,
#ddList-fruitList1>ul li a,
#ddList-fruitList2>a,
#ddList-fruitList2>ul li a {
    padding-top: .1em;
    padding-bottom: .1em
}

#ddList-fruitList1 img,
#ddList-fruitList2 img {
    max-width: 32px
}

#ddList-fruitList1 label,
#ddList-fruitList2 label {
    display: inline-block;
    margin-top: 5px
}

#ddList-fruitList2>a>img,
#ddList-fruitList2>ul li a>img {
    float: right;
    margin-right: 0;
    margin-left: 5px
}

@media screen and (max-width:1280px) {
    .scrollToTop {
        bottom: 77px
    }
}

@media screen and (max-width:1080px) {
    #header-top-band,
    header.site-header {
        width: 100%
    }
    .main-navigation a {
        padding: 10px
    }
    .main-navigation .menu-primary-navigation-container>ul>li {
        width: 12.5%;
        line-height: .8em
    }
    .main-navigation .menu-primary-navigation-container {
        text-align: justify;
        min-width: 500px
    }
    .main-navigation .menu-primary-navigation-container li {
        display: inline-block
    }
}

@media screen and (max-width:990px) {
    div.page-content {
        padding: 0 15px
    }
    div.breadcrumb-wrapper {
        padding-left: 10px;
        padding-right: 10px
    }
    div.breadcrumb {
        width: 100%
    }
    #page-banner-wrapper,
    #project-header-image,
    div.page-wide {
        width: 100%;
        padding: 0 10px
    }
    .page-left {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px
    }
    .page-right {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px
    }
    body.home #newsletter-sign-up-form {
        float: left!important
    }
    body.home #newsletter-sign-up-text {
        float: left
    }
    body.home #home-news-item-1 {
        margin-bottom: 20px;
        margin-right: 20px
    }
    body.home #home-news-item-3 {
        display: none
    }
    body.home div#home-news-wrapper {
        position: relative;
        float: right;
        right: 50%
    }
    body.home .inner-div {
        position: relative;
        float: right;
        right: -50%
    }
    body.page-template-page-grants-grant-overview-php div#grant-banner-button-wrapper-mobile {
        display: block
    }
    body.page-template-page-grants-grant-overview-php div#page-banner-wrapper .grant-banner-wrapper {
        width: 100%
    }
    body.page-template-page-grants-grant-overview-php div#page-banner-wrapper .grant-banner-wrapper h1.entry-title {
        font-size: 34px;
        margin-top: -10px;
        max-width: 100%;
        line-height: 34px;
        float: none
    }
    body.page-template-page-grants-grant-overview-php div#page-banner-wrapper .grant-banner-wrapper .grant-banner-heading {
        float: none;
        max-width: 100%
    }
    body.page-template-page-grants-grant-overview-php div#page-banner-wrapper .grant-banner-wrapper #grant-banner-button-wrapper-wide {
        display: none
    }
    body.page-template-page-grants-grant-overview-php #grant-banner-button-wrapper-mobile .grant-banner-button {
        float: none;
        width: 100%;
        margin-top: -20px;
        margin-bottom: 20px;
        display: block
    }
    body.page-template-listing-project-awards-provided-php div.stats-table {
        float: none;
        width: 100%
    }
    body.page-template-listing-project-awards-provided-php .stats-table-left {
        padding-right: 0
    }
    body.page-template-listing-project-awards-provided-php .stats-table-right {
        padding-left: 0
    }
    body.page-template-listing-project-map-php div#map_controls {
        right: 0;
        margin-left: 0
    }
}

@media screen and (max-width:784px) {
    div#header-wrapper {
        height: 103px
    }
    body.home div#header-wrapper,
    body.search div#header-wrapper {
        height: 113px
    }
    div#header-wrapper #search-form-wrapper {
        display: none
    }
    div#section-landing-wrapper h1.entry-title {
        width: 100%;
        font-size: 50px;
        line-height: 50px
    }
    div.secondary-navigation-wrapper {
        height: 10px
    }
    div.secondary-navigation {
        display: none
    }
    div#page-banner-wrapper h1.entry-title {
        max-width: 100%
    }
    body.page-template-listing-project-map-php div#map-intro {
        visibility: hidden
    }
    body.page-template-listing-project-map-php div#map_controls {
        top: 103px
    }
    body.page-template-listing-project-map-php div.map-listing-image-holder {
        display: none
    }
    body.page-template-listing-project-map-php div.project-listing-copy-holder {
        width: 100%
    }
}

@media screen and (max-width:460px) {
    div#header-wrapper #social-links {
        display: none
    }
    div#page-banner-wrapper h1.entry-title {
        font-size: 30px
    }
    .scrollToTop {
        visibility: hidden
    }
    body.page-id-40 td.column-2,
    body.page-id-40 th.column-2 {
        display: none
    }
}

.site-footer form.search-form {
    display: none;
    padding-left: 10px;
    margin-bottom: 15px
}

@media screen and (max-width:1220px) {
    .site-info p {
        padding-left: 10px
    }
    div#footer-partners,
    div#footer-site-map,
    div.site-info {
        width: 100%
    }
    div#footer-site-map {
        padding-left: 20px
    }
    div#footer-site-map ul {
        overflow: hidden;
        margin: 0;
        padding: 0;
        background: #7ac142
    }
    div#footer-site-map ul li {
        list-style: none;
        float: left;
        text-align: left;
        width: 14.285%;
        width: calc(14.28571429%);
        box-sizing: border-box;
        font-size: 12px
    }
    div#footer-site-map ul ul li {
        list-style: none;
        float: left;
        text-align: left;
        width: auto;
        box-sizing: border-box
    }
    div#footer-site-map li {
        padding-bottom: 0
    }
    div#footer-site-map li a {
        max-width: 203px
    }
    div#footer-site-map ul li:first-child {
        border-left: none
    }
    div#footer-site-map ul li a {
        display: block;
        text-decoration: none;
        padding: 5px 0
    }
}

@media screen and (max-width:870px) {
    div#footer-site-map ul.sub-menu {
        width: 100%!important
    }
}

@media screen and (max-width:784px) {
    .site-footer form.search-form {
        display: block
    }
    .site-info p {
        width: 100%
    }
    div.site-info li:first-child {
        border-left: none;
        margin-left: -10px
    }
    div.site-info div#social-links {
        float: left;
        padding-left: 10px;
        margin-top: 5px
    }
    .site-footer form.search-form {
        clear: both
    }
}

@media screen and (max-width:670px) {
    div#footer-site-map {
        display: none
    }
}

@media screen and (max-width:990px) {
    div#footer-partners img#footer-partner-text {
        display: none
    }
}

@media screen and (max-width:560px) {
    div#footer-partners {
        display: none
    }
    .site-footer {
        margin-top: 20px
    }
}

.mobile-icons,
.tablet-icons,
div#right-col-first {
    display: none
}

@media screen and (max-width:990px) {
    div#right-col-first {
        display: block
    }
    .filter-projects button[type=submit] {
        float: left;
        margin-top: 10px;
        margin-left: 315px
    }
    div.project-listing-award-icon-holder {
        display: none
    }
    .tablet-icons {
        margin-top: -10px;
        display: block
    }
    .tablet-icons .taxa-icon {
        padding-left: 15px
    }
    .tablet-icons .award-icon {
        margin-top: 15px
    }
    div.project-listing-copy-holder {
        float: left;
        width: 80%
    }
    div.project-listing-taxa-icon-holder {
        display: none
    }
    div.project-listing-image-holder {
        float: right;
        width: 20%
    }
    div.project-listing-image-holder img {
        float: right;
        width: auto;
        height: auto;
        padding-top: 28px;
        padding-right: 20px
    }
    div.wp-pagenavi {
        width: 100%
    }
    .wp-pagenavi a.page,
    a.last,
    span.extend {
        display: none
    }
    .form-column-left {
        width: 100%;
        float: none
    }
    .form-column-right {
        width: 100%;
        float: none;
        padding-left: 0
    }
}

@media screen and (max-width:560px) {
    .tablet-icons {
        display: none
    }
    .mobile-icons {
        display: block
    }
    div.project-listing-copy-holder {
        width: 70%
    }
    div.project-listing-image-holder {
        width: 30%
    }
    .taxa-icon {
        padding-top: 5px!important
    }
    .award-icon {
        padding-top: 15px!important
    }
    .filter-projects button[type=submit] {
        margin-left: 0
    }
}

@media screen and (max-width:560px) {
    body.page-template-listing-interview-php .tablet-icons {
        display: none
    }
    body.page-template-listing-interview-php .name-date {
        margin-bottom: 5px
    }
}

@media screen and (max-width:784px) {
    div#project-header-image h4 {
        max-width: 100%;
        line-height: 50px
    }
}
.item-head .a-head{
    font-weight: 700
}

.contact-left{

    width: 50%;
    float: left;
}
.contact-right{

    width: 50%;
    float: right;
}
.icon-space{
    padding-right: 10px;
}

.img-gal{
     padding: 10px 0px;
     background: #1a5c2e; 
     color: #FFF; text-align: 
     center; font-weight: bold;
    }

.index-content a:hover{
    color:black;
    text-decoration:none;
}
.index-content{
    margin-bottom:0px;
    padding:0px;
    
}
.index-content .row{
    margin-top:20px;
}
.index-content a{
    color: black;
}
.index-content .card{
    background-color: #FFFFFF;
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

}
.index-content .card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}
.index-content .card img{
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.index-content .card h4{
    margin:20px;
}
.index-content .card p{
    margin:20px;
    opacity: 0.65;
}
.index-content .blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: #002E5B;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}
.index-content .blue-button:hover{
    background-color: #dadada;
    color: #002E5B;
}
@media (max-width: 768px) {

    .index-content .col-lg-4 {
        margin-top: 20px;
    }
}

